<header>
  <head>
      <meta name='viewport' content='width=device-width, inital-scale=1.0, maximum-scale=1.0' />


      <link rel="stylesheet" href="/styles/navbar.css" type="text/css"/>

    <title>Resource Wall</title>
  </head>
  <nav class="navbar">
    <span class="logo"><a href ='/'>Resource Wall</a></span>
    <span class="greeting">Hello User</span>
    <div class="buttons">
      <button class="add-resource" type="submit">Add Resource</button>
      <button class="my-resources" type="submit">My Resources</button>
      <button class="my-profile" type="submit">My Profile</button>
    </div>
    <div class="logged-out">
      <button class="register" type="submit">Register</button>
      <button class="login" type="submit">Login</button>
    </div>
    <div class="logged-in">
      <button class="logout" type="submit">Logout</button>
    </div>
  </nav>
</header
