<!DOCTYPE html>
<html lang="en">
  <meta name='viewport' content='width=device-width, inital-scale=1.0, maximum-scale=1.0' />


  <link rel="stylesheet" href="/styles/navbar.css" type="text/css"/>

<head>
  <title>Resource Wall</title>
</head>

<body>
  <nav class="navbar">
    <span class="logo"><a href ='/'>Resource Wall</a></span>
</body>
</html>
