<!DOCTYPE html>
<html lang="en">
  <meta name='viewport' content='width=device-width, inital-scale=1.0, maximum-scale=1.0' />


  <link rel="stylesheet" href="/styles/navbar.css" type="text/css"/>

<head>
  <title>Resource Wall</title>
</head>

<body>
  <nav class="navbar">
    <span class="logo"><a href ='/'>Resource Wall</a></span>
    <span class="greeting">Hello User</span>
    <div class="buttons">
      <button class="add-resource" type="submit">Add Resource</button>
      <button class="my-resources" type="submit">My Resources</button>
      <button class="my-profile" type="submit">My Profile</button>
    </div>
    <div class="logged-out">
      <button class="register" type="submit">Register</button>
      <button class="login" type="submit">Login</button>
    </div>
    <div class="logged-in">
      <button class="logout" type="submit">Logout</button>
    </div>
  </nav>
  <!--Home Section-->
  <div data-bind="visible: currentContext() == '/'")
  <!--My Resources-->
  <div data-bind="visible: currentContext() == '/my'")
  <!--Add Resource-->
  <div data-bind="visible: currentContext() == '/'")
  <!--My Profile-->
  <!--Login-->
  <div data-bind="visible: currentContext() == '/'")
  <!--Register-->
  <div data-bind="visible: currentContext() == '/'")
  <section id= resources-container></section>
</body>
</html>
